# Notion API
NOTION_API_KEY=secret_xxx
NOTION_DATABASE_ID=xxx

# Resend API (emails)
RESEND_API_KEY=re_xxx

# URL de base du site (pour les liens dans les emails)
NEXT_PUBLIC_BASE_URL=https://kermesse-messein.vercel.app
